///Introducción

.bg_grad-01
  position: relative
  figure, p, .cajon, .video
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: -35px
    left: 0
    width: 100%
    height: 100%
    background-image: url("../assets/curso/fondo.svg")
    background-repeat: no-repeat
    background-size: contain
    @media screen and ( max-width: 420px )
      margin: 0
      top: 100px

.titulo-principal.color-acento-contenido .titulo-principal__numero span 
  color: #ffffff

///Tema 1

.bgr
  background-color: #AEDBEF !important
  border-radius: 0px

.bgr4
  background-color: #FFFFFF !important
  border-radius: 0px
  box-shadow: 0px 5px 10px 0px #cacaca

.bg_grad-02
  position: relative
  .titulo-sexto, h5, .row, h2, 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 50px
    left: 0
    width: 100%
    height: 100%
    background-image: url("../assets/curso/tema1/fondo.jpg")
    background-repeat: no-repeat
    background-size: contain
    @media screen and ( max-width: 420px )
      margin: 0
      top: 100px

.bg_grad-02
  position: relative
  .titulo-sexto, h5, .row, h2, 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 50px
    left: 0
    width: 100%
    height: 100%
    background-image: url("../assets/curso/tema1/fondo.jpg")
    background-repeat: no-repeat
    background-size: contain
    @media screen and ( max-width: 420px )
      margin: 0
      top: 100px

.bg_grad-03
  position: relative
  .titulo-segundo, h2, .row, 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: -20px
    left: 0
    width: 100%
    height: 100%
    background-image: url("../assets/curso/tema1/fondo2.jpg")
    background-repeat: no-repeat
    background-size: 100%
    @media screen and ( max-width: 420px )
      margin: 0
      top: 100px

.linea-tiempo-b__icon img 
  position: absolute
  width: 101px
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.linea-tiempo-b.color-acento-contenido .linea-tiempo-b__icon
  background-color: transparent

.linea-tiempo-b__icon:after 
    content: ''
    display: block
    width: 21px
    height: 2px
    position: absolute
    left: 95%
    top: 70px
    transform: translateY(-50%)

.bg_grad-04
  position: relative
  .row, 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: -70px
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema1/fondo3.jpg")
    background-repeat: no-repeat
    @media screen and ( max-width: 420px )
      content: ''
      position: absolute
      margin: 0 -3rem
      top: 0px
      left: 0px
      width: calc( 100% + 6rem)
      height: 100%
      background-image: url("../assets/curso/tema1/fondo3.jpg")
      background-repeat: no-repeat

.linea-tiempo-1
  .linea-tiempo-d__item--selected
    .linea-tiempo-d__item__number
      background-color: #D2E1F1
    .linea-tiempo-d__item__content
      background-color: #D2E1F1

.bg_grad-05
  position: relative
  .row, .titulo-sexto
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: -30px
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema1/fondo4.jpg")
    background-repeat: no-repeat
    @media screen and ( max-width: 420px )
      content: ''
      position: absolute
      margin: 0 -3rem
      top: 0px
      left: 0px
      width: calc( 100% + 6rem)
      height: 100%
      background-image: url("../assets/curso/tema1/fondo4.jpg")
      background-repeat: no-repeat

.cajon-comillas-color.bloque-texto-b.color-primario:before
  background-color: #C8D1DD !important
  height: 60px

.bg_grad-06
  position: relative
  .row, .titulo-segundo
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: -50px
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema1/fondo5.jpg")
    background-repeat: no-repeat
    @media screen and ( max-width: 420px )
      content: ''
      position: absolute
      margin: 0 -3rem
      top: 0px
      left: 0px
      width: calc( 100% + 6rem)
      height: 100%
      background-image: url("../assets/curso/tema1/fondo5.jpg")
      background-repeat: no-repeat

//Tema2

.tarjeta.color-primario.tema-1
  height: 351px
  @media screen and ( max-width: 992px )
    height: auto

.tarjeta.color-primario 
  background-color: #93B0D0

.tarjeta.color-primario * 
  color: black

.tarjeta-numerada 
  margin-left: 0px
  background-color: #B7D2FA
  border-radius: 20px
  padding-top: 50px!important
.camb_color
  .tarjeta-numerada  
    background-color: #DEE4F0!important
  
.tarjeta-numerada__contenido
  display: none
  -webkit-transition: all 0.3s ease-in-out 0s
  -moz-transition: all 0.3s ease-in-out 0s
  transition: all 0.3s ease-in-out 0s
.tarjeta-numerada:hover .tarjeta-numerada__numero
  left: 50%
  top: -6%  
.tarjeta-numerada:hover .tarjeta-numerada__contenido
  display: inherit 
.tarjeta-numerada 
  border: 0
.tarjeta-numerada:hover
  background-color: #DEE4F0 

.tarjeta-avatar > img 
  position: absolute
  left: 50%
  top: 5px
  transform: translateX(-50%);
  display: block
  width: 100px
  margin: 0 auto
  z-index: 999

.bgr2
  background-color: #B0CBEA !important
  border-radius: 0px

.tabla-editada2
  table
    width: auto
    white-space:
  thead
    background-color: #3869B3
    color: #fff
    font-size: 1.3rem
  tbody
  td:nth-child(1)
    white-space: nowrap
    width: 20%
  td:nth-child(2)
    width: 30%
  @media screen and (max-width: 1400px) 
    table 
      display: block
      overflow-x: auto

.bg_grad-07
  position: relative
  .row, .titulo-segundo, p, 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -8rem
    top: -50px
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema1/fondo5.jpg")
    background-repeat: no-repeat
    @media screen and ( max-width: 420px )
      content: ''
      position: absolute
      margin: 0 -3rem
      top: 0px
      left: 0px
      width: calc( 100% + 6rem)
      height: 100%
      background-image: url("../assets/curso/tema1/fondo5.jpg")
      background-repeat: no-repeat

.bgr3
  background-image: url("../assets/curso/tema2/fond.jpg")
  border-radius: 40px
  width: 100%
  height: 100%
  background-size: cover
  
.f
  margin-left: 220px
  @media screen and ( max-width: 1400px )
    margin-left: 150px
  @media screen and ( max-width: 1000px )
    margin-left: 100px
  @media screen and ( max-width: 800px )
    margin-left: 50px

.bg_grad-08
  position: relative
  .row, .titulo-segundo, p, .titulo-sexto,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: -50px
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema2/fondo5.jpg")
    background-repeat: no-repeat
    @media screen and ( max-width: 420px )
      content: ''
      position: absolute
      margin: 0 -3rem
      top: 0px
      left: 0px
      width: calc( 100% + 6rem)
      height: 100%
      background-image: url("../assets/curso/tema2/fondo5.jpg")
      background-repeat: no-repeat

//tema3
.bloque-texto-b:before 
  content: ''
  display: block
  position: absolute
  top: 45%
  bottom: 0
  left: 40%
  right: -0%

.bloque-texto-b.color-secundario:before 
  background-color: #93B0D0

.tabla-editada3
  table
    width: auto
    white-space:
  thead
    background-color: #35B5D5
    color: #fff
    font-size: 1.3rem
  tbody
  td:nth-child(1)
    white-space: nowrap
    width: 35%
  td:nth-child(2)
    width: 35%
  @media screen and (max-width: 1400px) 
    table 
      display: block
      overflow-x: auto

.imagen-superior img 
  width: 310px
  @media screen and (max-width: 992px) 
    width: 250px

//tema3


.fraja
  border-bottom: 4px solid #184380
  margin-inline-end: 0px

.fraja2
  border-bottom: 4px solid #2596B3
  margin-inline-end: 0px

.lista-ul--color2 li > i:first-of-type 
  color: #184380