///Introducción

.bg_grad-01
  position: relative
  figure, p, .cajon, .video
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: -35px
    left: 0
    width: 100%
    height: 100%
    background-image: url("../assets/curso/fondo.svg")
    background-repeat: no-repeat
    background-size: contain
    @media screen and ( max-width: 420px )
      margin: 0
      top: 100px

.titulo-principal.color-acento-contenido .titulo-principal__numero span 
  color: #ffffff

///Tema 1

.bgr
  background-color: #AEDBEF !important
  border-radius: 0px

.bg_grad-02
  position: relative
  .titulo-sexto, h5, .row, h2, 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 50px
    left: 0
    width: 100%
    height: 100%
    background-image: url("../assets/curso/tema1/fondo.jpg")
    background-repeat: no-repeat
    background-size: contain
    @media screen and ( max-width: 420px )
      margin: 0
      top: 100px

.bg_grad-02
  position: relative
  .titulo-sexto, h5, .row, h2, 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 50px
    left: 0
    width: 100%
    height: 100%
    background-image: url("../assets/curso/tema1/fondo.jpg")
    background-repeat: no-repeat
    background-size: contain
    @media screen and ( max-width: 420px )
      margin: 0
      top: 100px

.bg_grad-03
  position: relative
  .titulo-segundo, h2, .row, 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: -20px
    left: 0
    width: 100%
    height: 100%
    background-image: url("../assets/curso/tema1/fondo2.jpg")
    background-repeat: no-repeat
    background-size: 100%
    @media screen and ( max-width: 420px )
      margin: 0
      top: 100px

.linea-tiempo-b__icon img 
  position: absolute
  width: 100%
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.bg_grad-04
  position: relative
  .row, 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: -70px
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema1/fondo3.jpg")
    background-repeat: no-repeat
    @media screen and ( max-width: 420px )
      content: ''
      position: absolute
      margin: 0 -3rem
      top: 0px
      left: 0px
      width: calc( 100% + 6rem)
      height: 100%
      background-image: url("../assets/curso/tema1/fondo3.jpg")
      background-repeat: no-repeat

.linea-tiempo-1
  .linea-tiempo-d__item--selected
    .linea-tiempo-d__item__number
      background-color: #D2E1F1
    .linea-tiempo-d__item__content
      background-color: #D2E1F1

.bg_grad-05
  position: relative
  .row, .titulo-sexto
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: -30px
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema1/fondo4.jpg")
    background-repeat: no-repeat
    @media screen and ( max-width: 420px )
      content: ''
      position: absolute
      margin: 0 -3rem
      top: 0px
      left: 0px
      width: calc( 100% + 6rem)
      height: 100%
      background-image: url("../assets/curso/tema1/fondo4.jpg")
      background-repeat: no-repeat

.cajon-comillas-color.bloque-texto-b.color-primario:before
  background-color: #C8D1DD !important
  height: 60px

.bg_grad-06
  position: relative
  .row, .titulo-segundo, p, SlyderF,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -8rem
    top: -50px
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema1/fondo5.jpg")
    background-repeat: no-repeat
    @media screen and ( max-width: 420px )
      content: ''
      position: absolute
      margin: 0 -3rem
      top: 0px
      left: 0px
      width: calc( 100% + 6rem)
      height: 100%
      background-image: url("../assets/curso/tema1/fondo5.jpg")
      background-repeat: no-repeat

.tarjeta.color-primario 
  background-color: #93B0D0

.tarjeta.color-primario * 
  color: black